extends layout

block content
	div.content
		table
			thead
				tr
					each key in sortedKeys
						if keys.indexOf(key) !== -1
							td= key.toUpperCase()
			tbody
				each contact in contacts
					tr
						each key in sortedKeys
							if keys.indexOf(key) !== -1
								td
									if key === 'website'
										// TODO: Take care of https
										a(href=contact[key])= contact[key] ? contact[key].substring(7) : ''

									else if key === 'facebook'
										// TODO: Take care of https
										a(href='https://facebook.com/' + contact[key])= contact[key]

									else if key === 'email'
										a(href='mailto:' + contact[key])= contact[key]

									else if key === 'birthday'
										=contact[key].toISOString().substr(0,10)

									else
										=contact[key]
	include partials/console
