extends layout

block content

	div#columns.content
		//-console.log(columns)
		each column in columns
			div
				ul
					if(column && column.length)
						each file in column
							li
								span
								a(href='/explorer/' + file)= file

	include partials/console
