extends layout

block content

	div#columns.content
		-console.log(columns)
		each column in columns
			div
				ul
					if(column.entries && column.entries.length)
						each file in column.entries
							li(class= (file === column.active) ? 'active' : '')
								span
								a(href='/files' + column.path + '/' + file)= file
		div#file

	include partials/console
