calendarIcon()
	content '\e02b'

listIcon()
	content: '\e088'

personIcon()
	content '\e0a5'

checkMarkIcon()
	content '\e033'

pictureIcon()
	content '\e079'

headphonesIcon()
	content '\e076'

eyeIcon()
	content '\e065'

bookIcon()
	content '\e021'

textIcon()
	content '\e0ca'

slrIcon()
	content '\e02c'

projectIcon()
	content '\e0ad'

wrenchIcon()
	content '\e0da'

richListIcon()
	content '\e087'

sheetmusicIcon()
	content '\e0a1'

moviesIcon()
	content '\e0a9'
