extends layout

block content
	.content
		#controls
		button#settings
		#c1
			input#search(type='search', placeholder='search')
			a#artists Artists
			a#songs Songs
			a#info Infos
			a#charts Charts
			a#playlists Playlists
		#c2
		#c3
		#c4
		#Bubble.bubble(style='display:none')

