extends layout

block content
	each value, key in owner
		label= key.substr(0,1).toUpperCase() + key.substr(1) + ': '
		if Array.isArray(value)
			select
				each option in value
					if owner[key] === option
						option('selected')=  option
					else
						option=  option
		else if typeof value === typeof owner[key]
			input(type='text', value=owner[key])
		else
			input(type='text', value='Provided incorrect value!', readonly)
		br
