extends layout

block content
	each value, key in availableSettings

		label= key.substr(0,1).toUpperCase() + key.substr(1) + ': '

		if Array.isArray(value)
			select#theme
				each option in value
					if settings[key] === option
						option('selected')=  option
					else
						option=  option

		else if typeof value === typeof settings[key]
			input(type='text', value=settings[key])

		else
			input(type='text', value='Provided incorrect value!', readonly)

		br
