#tasks
	> div
		display flex
		align-items stretch
	ul
		list-style-type none
	aside
		flex-basis 200px
		border-right 1px solid bgLightContrast
		li
			border-bottom 1px solid bgLightContrast
			padding 0.4em 0.8em
			cursor pointer
	article
		flex 1
		padding 2em
		li
			border 1px solid bgLightContrast
			background-color bgMuted
			color fgMuted
			margin-bottom 0.5em
			padding 0.5em 1em
			border-radius 4px
