*
  border 0
  padding 0
  margin 0
  box-sizing border-box

html
  height 100%

body
  height 100%

img
  border-color rgb(255, 100, 0)
  border-style solid
  padding 2px

img:last-of-type
  border none

.inline
  white-space nowrap
  height 100%

.inline img
  max-height 100%
  max-width 100%
  vertical-align top
  border-right-width 1px

.wrapped img
  max-width 100%
  border-bottom-width 1px
