extends ../linked_modules/lamda-views/layout

block styles
	link(rel='stylesheet', href='/styles/index.css')

block content
	ul
		//-JSON.stringify(days, null, 2)
		each day in days
			li(class= day.today ? 'today' : '')
				div.date= day.date.toISOString().substr(0,10)
				div.day
					each event in day.events
						div.event(style=event.style, class=(event.empty ? 'empty' : ''))
							if event.title
								span= event.title + ' '
