extends ../../../views/layout

block styles
	link(rel='stylesheet', href='/assets/photos/public/index.css')

block content
	each year in years
		div
			h2= year.year
			hr
			if year.events
				each event in year.events
					div.event
						p: a= event.slice(11).replace(/[-_]/g, ' ')
						p.small= event.slice(0,10)
		br
		br
