extends ../node_modules/lamda-views/layout

block styles
	link(rel='stylesheet', href='/assets/books/public/index.css')

block content
	#library
		if books && books.length > 0
			each book in books
				.book
					img(src=book.imageSource)
					p: a(href=book.url)= book.name

		else if book
			#reader
				#previous.arrow <
				#bookContent
				#next.arrow >

		else
			p There are currently no books in your library

block scripts
	if book
		script(src='/assets/books/modules/epubjs/build/libs/zip.min.js')
		script(src='/assets/books/modules/epubjs/build/epub.js')
		script.
			var bookUrl = '#{book.url}'
		script(src='/assets/books/public/index.js')
