extends ../../../views/layout

block styles
	link(rel='stylesheet', href='/assets/books/public/index.css')

block content
	if books
		each book in books
			div
				img(src=book.imageSource)
				p= book.name
		
	else if (book)
		h2 Book

block scripts
	script(src='/assets/books/modules/epubjs/build/epub.min.js')
	script(src='/assets/books/public/index.js')
