extends ../../../views/layout

block styles
	link(rel='stylesheet', href='/assets/news/public/index.css')

block content
	each article in articles
		div
			h2!= article.title
			p!= article.summary
		hr
