!!!5

html
	head
		title= title
		link(rel='stylesheet', href='/styles/screen.css')
		link(rel='icon', href='/img/favicon.png', type='image/png')

	body(id=page)
		nav#navBar
			h1#logo
				a(href='/') λ
			.links
				// TODO:  , 'Sheetmusic', 'Music', 'Movies', 'Documents', 'Projects'
				each name in ['Events', 'Files', 'Contacts', 'Tasks', 'Things']
					- var path = '/' + name.toLowerCase()
					- var className = name + ' ' + (page === name.toLowerCase() ? 'active' : '')
					a(href=path, class=className)= name
					if(name === 'Files')
						span | <!-- whitespace -->

			.right
				a.settings(href='/settings') Settings

		block content

	each link in scripts
		script(src=link)

	block scripts
