extends ../../../views/layout.jade

block styles
	link(rel='stylesheet', href='/Music/public/index.css')

block content
	#player
		div
			button#previous
			button#play.paused
			button#next
		p#playerInfo Artist - Song Title
		.progress
			span#time 0:00
			input(id="progress", type="range", min="0", value="0")
			span#duration -0:00
		.controls
			button#queue
			button#shuffle
			button#repeat
			button#share
		.volumeControl
			button#mute -
			input#volume(type="range", min="0", max="1", step="0.01")
			button#loud +
		#currentQueue.bubble(style="display: none")

	#menu
		input#search(type='search', placeholder='search')
		a#artists Artists
		a#songs Songs
		a#info Infos
		a#charts Charts
		a#playlists Playlists
	#c2
	#c3
	#c4
	#Bubble.bubble(style='display:none')


block scripts
	// TODO: Load shaven.js
	script(src='/js/music.js')
