doctype html
head
	title #(song.name) | Raw
	style.
		* {
			border: 0;
			padding: 0;
			margin: 0;
			box-sizing: border-box;
		}
		body {
			white-space: nowrap;
		}

		img {
			max-height: 100%;
			max-width: 80%;
			vertical-align: top;
			border-right: 1px solid rgb(255,120,0);
			padding: 2px;
		}
body
	each imagePath in song.images
		if imagePath
			a(href=imagePath)
				img(src=imagePath)
