extends layout

block content
	div.content
		aside
			ul
				each list in lists
					li= list.name
		article
			ul
				each list in lists
					if list.tasks
						each task in list.tasks
							- var style = (task.completed_at) ? 'text-decoration: line-through' : 'font-weight: bold'
							li(style=style)= task.title



	include partials/console
