extends layout

block content
	div
		aside
			ul
				each list in lists
					li
						a(href='/tasks/' + list.id)= list.name
		article
			ul
				each list in lists
					if list.id === currentList
						if list.tasks
							each task in list.tasks
								- var style = (task.completed_at) ? 'text-decoration: line-through' : 'font-weight: bold'
								li(style=style)= task.title


block scripts
	script(src='/js/' + page + '.js')
