extends ../../../views/layout

block styles
	link(rel='stylesheet', href='/assets/tasks/public/index.css')

block content
	div
		aside
			ul
				each list in lists
					li
						a(href='/tasks/' + list.id, class= (list.id === currentList) ? 'active' : '')
							= list.name
							if list.tasks
								span.number= list.tasks.length
		article
			each list in lists
				if list.id === currentList
					if list.tasks
						ul
							each task in list.tasks
								- var style = (task.completed_at) ? 'text-decoration: line-through' : 'font-weight: bold'
								li(style=style)= task.title
					else
						p Well done! Nothing left to do!


block scripts
	script(src='/js/index.js')
