#events
	padding 1em 0 0 0
	ul
		li
			display block
			list-style none
			background-color rgba(bg, 0.2)
			margin-bottom 2px
			div
				line-height 26px
				height 26px
				display inline-block
	.today
		box-shadow 0 0 1px 1px #cd5c5c
	.date
		min-width 80px
		width 10%
		padding 0 0.5em
		vertical-align middle
		border-right 1px solid fgMuted
	.day
		width 90%
		position relative
		vertical-align middle
	.event
		position absolute
		background-color bgQuiet
		padding 0 0.5em
		margin-right 1px
		overflow hidden
		box-shadow 2px 0 2px -1px bg
