#things
	padding 2em

	.standardView > div
		vertical-align top
		display inline-block
		background-color bgQuiet
		padding 5px
		margin 0 2px 2px 0
		width 100px
		height 100px
		line-height 100px
		text-align center
		a
			display block
			height 100%
			width 100%
		img
			display inline-block
			max-width 90px
			max-height 90px
			background-color bgQuiet

	.wideView > div
		vertical-align top
		display inline-block
		background-color bgQuiet
		padding 10px
		margin 0 5px 5px 0
		width 220px
		height 220px
		span
			display: inline-block
			margin-bottom 0.5em

#thing
	padding 2em
	dt
		display inline-block
		color fg
		font-weight 900
		min-width 10em
		text-align right
		margin-right 1em
		vertical-align top
	dd
		display inline-block

