#tasks
	//padding-top 1em
	> div
		display flex
		align-items stretch
	ul
		list-style-type none
	aside
		flex-basis 200px
		border-right 1px solid bgQuiet
		li
			border-bottom 1px solid bgQuiet
			a
				position relative
				display inline-block
				width 100%
				line-height 2em
				padding 0 0.8em
			span
				display inline-block
				position absolute
				right 0.4em
				font-size 0.8em
				color fgQuiet

		.active
			background-color bgQuiet
			color fg

	article
		flex 1
		padding 2em
		li
			border 1px solid bgQuiet
			color fgMuted
			margin-bottom 0.5em
			padding 0.5em 1em
			border-radius 4px
		> p
			color fgQuiet
		.completed
			opacity 0.3
			text-decoration line-through
