#sheetmusic
	padding 2em
	> div
		vertical-align top
		display inline-block
		background-color bgQuiet
		padding 1em
		margin 0 1em 1em 0
		span
			display inline-block
			margin-bottom 0.5em
	table
		width 100%
		border-collapse collapse
		tr
			width 100% !important
		th
			padding 0.4em 1em

		td, th
			text-align center
			border 1px solid fgQuiet
		.name
			text-align left
			a
				display block
				padding 0.4em 1em
		.pages
			text-align left
			white-space normal
			padding-left 1em
			padding-right 1em
			a
				display inline-block
		.badge
			border-radius 10px
			background-color darken(fg, 75%)
			padding 0 0.3em
			text-align center
	.images
		.image
			display inline-block
			padding 1em
			img
				display block
				max-height 20em
				max-width 20em
				background-color white
				margin-bottom 1em
	dl
		margin-bottom 2em
	dt
		display inline-block
		min-width 9em
		text-align right
		margin-right 1em
		vertical-align top
	dd
		display inline-block
		max-width 40em


