base = rgb(40,180,220)

#music

	#settings
		background: transparent
		position: absolute
		right: 40px
		&:before
			content: '\2699'
			font-size: 30px
			height: 50px
			width: 50p

	#settingsBubble
		top: 72px
		right: 10px
		width: 200px
		height: 200px
		&:before
			top: -24px
			right: 28px
		&:after
			top: -20px
			right: 30px


	// Menu Left

	#menu,
	#c2,
	#c3,
	#c4
		display: inline-block
		vertical-align: top
		height: 90%
		border-left: 1px solid black
		overflow-y: auto
		overflow-x: hidden


	#menu
		border-left: none
		text-align: center
		width: 160px
		> button
			color: white
			text-align: left
			font-weight: 100
			font-size: 16px
			width: 100%
			line-height: 40px
			padding: 0 0 0 20px
			border-top: 1px solid rgb(80,80,80)
			border-bottom: 1px solid rgb(30,30,30)
			cursor: pointer
			text-shadow: 0 -1px 0 black
			background-color: rgba(230,230,230,0)
			&:hover
				background-color: rgba(255,255,255,0.1)
			&:active
				background-color: rgba(255,255,255,0.2)


	input[type="search"]
		-webkit-appearance: textfield
		font: 500 16px/28px "Arial",sans-serif
		color: white
		width: 140px
		border-radius: 15px
		box-shadow: inset 1px 1px 1px rgba(0,0,0,1)
		background-color: rgb(100,100,100)
		margin: 10px 0

	#interprets:before
		content: '\265D'
		margin-right: 5px

	#charts:before
		content: '\2605'
		margin-right: 5px

	#songs:before
		content: '\266B'
		margin-right: 5px

	#playlists:before
		content: '\2665'
		margin-right: 5px

	#info:before
		font-size: 22px
		content: '\2295'
		margin-right: 5px




	// Artists, Songs
	#c2
		padding: 10px 0 0 0
		width: 160px

	#c3
		padding: 10px 0 0 0
		width: 200px

	.song
		position: relative
		height: 20px
		line-height: 20px
		white-space: nowrap
		&:nth-of-type(2n)
			background-color: rgba(0,0,0,0.06)
		a
			cursor: pointer
			position: absolute
			left: 20px
		button
			color: white
			background: transparent
			display: none
			width: 20px
		.play:before
			content: "\25B6"
			position: relative
			left: 2px
		.add:before
			content: "+"
			position: relative
			left: 2px

		&:hover,
		&.highlight
			box-shadow: inset 0 0 20px 20px rgba(base, 0.2)
			color: white
			button
				display: inline-block





	// Overview

	#c4
		padding: 30px
		width: 55%
		img
			margin: 0 20px 20px 0
			width: 80px
			height: 80px
			display: inline-block
			border-radius: 3px
			box-shadow: 0 1px 3px rgba(0,0,0,0.6)
			background: image-url('loader.gif') no-repeat center
		nav
			display: inline-block
			vertical-align: top
		button
			display: block
			float: right
			padding: 2px 4px
			border-radius: 2px
			margin: 4px

	#bio,
	#lyrics
		font-family: "Times New Roman", serif
		font-size: 14px

	#heading
		margin: 0 0 10px 0

	#songs
		a
			display: block
			border: 1px solid rgb(200,200,200)
			padding: 4px 10px
			margin-bottom: 5px
			background-color: rgb(230,230,230)

	.bubble
		z-index: 1
		position: absolute
		background-image: linear-gradient(rgb(40,40,40), rgb(30,30,30))
		border-radius: 8px
		box-shadow: 2px 2px 8px rgba(0,0,0,0.5), inset 0 2px 5px rgba(255,255,255,0.1)
		border: 1px solid black
		&:before
			z-index: -1
			content: ''
			border-color: transparent transparent rgb(0,0,0) transparent
			border-style: solid
			border-width: 12px
			position: absolute
		&:after
			z-index: -1
			content: ''
			border-color: transparent transparent rgb(50,50,50) transparent
			border-style: solid
			border-width: 10px
			position: absolute



@media all and (max-width: 480px)
	#music
		#wrapper
			width: 100%
			height: 200%

		#menu,
		#c2,
		#c3,
		#c4
			width: 100%
			display: block
		#menu
			height: 30%
			width: 100%
		#c2
			height: 30%
			width: 80%

		#c3
			width: 20%
		#c4
			width: 80%
			height: 30%
