extends ../node_modules/@lamdahq/views/layout

block styles
  link(rel='stylesheet', href=`${baseURL}/styles/index.css`)

block content
  h2
    = event.year + '-' || ''
    = event.month + '-' || ''
    = event.day || ''
    = ' '
    = event.name
    |  (
    = event.photos.length
    |  photos)
  hr

  each photo in event.photos
    a(href=photo.url)
      img.photo(
      src=photo.src + '?width=' + maxWidth + '&height=' + maxHeight,
      alt=photo.name
      )
