extends ../linked_modules/lamda-views/minimal

block head
  - viewport = ['width=device-width']
  - viewport[1] = 'initial-scale=1'
  - viewport[2] = 'minimum-scale=1'
  - viewport[3] = 'maximum-scale=10'
  meta(name='viewport', content=viewport.join())
  link(rel='stylesheet' href=`${baseURL}/styles/raw.css`)

block body
  div(class=style)
    for image in song.images
      if image
        img(src=(image.thumbnailPath || image.path))
