#player
	border-top 1px solid fgLittleContrast
	background-color bg
	color fgMuted
	> *
		display inline-block
		vertical-align middle
	button
		background none
		color inherit
	#play
		height: 40px
		width: 40px
		margin: 0 5px
		line-height: 40px
		font-size: 16px
		&.playing:before
			content: "\2759\2759"
			position: relative
			bottom: 2px
		&.paused:before
			content: "\25B6"
			position: relative
			left: 2px

	#previous,
	#next
		height: 30px
		line-height: 30px
		width: 30px
		border-radius: 15px
		font-size: 14px
		&:before
			letter-spacing: -5px
			position: relative
			right: 2px
			bottom: 2px

	#previous:before
		content: "\25C0\25C0"
	#next
		margin-right: 2em
		&:before
			content: "\25B6\25B6"


	.inputBar
		display: inline-block
		width: 300px
		height: 8px
		border-radius: 4px
		background-image: linear-gradient(rgb(40,180,220), rgb(20, 120, 140))
		box-shadow: 0px 1px rgba(255,255,255,0.2), 0px -1px black
		.handler
			height: 8px
			width: 8px
			border-radius: 4px
			background-image: linear-gradient(rgb(20,80,90), rgb(20, 50, 40))

	#playerInfo
		margin-right 2em

	.progress
		margin-right 2em
		#progress
			width: 300px
			margin: 0 4px
		#volume
			width: 120px
			margin: 0 4px

		#time,
		#duration
			vertical-align: middle


	.controls
		margin-right 2em

		button
			margin-right 0.4em

		#queue
			z-index: 10
			vertical-align: -20%
			font-size: 16px
			width: 30px
			height: 30px
			&:before
				content: "\2630"

		#repeat:before
			content: '\21BA'
			font-size: 20px
			font-weight: 900
			vertical-align: middle

		#shuffle:before
			content: '\21C4'
			font-size: 20px
			font-weight: 900
			vertical-align: middle

		#share:before
			content: '\2709'
			font-size: 20px
			font-weight: 900
			vertical-align: middle


	#currentQueue
		top: 72px
		left: 385px
		width: 200px
		height: 200px
		&:before
			top: -24px
			right: 28px
		&:after
			top: -20px
			right: 30px

	#loud,
	#mute
		height: 18px
		width: 18px
		border-radius: 10px
		vertical-align: middle

