#contacts
	table
		text-align left
		width 100%
		font-size 11px

		tr:nth-of-type(2n)
			background-color rgba(bg, 0.1)
		thead
			color: fg
		th, td
			padding 0.2em 0.5em
		a
			display inline-block
	.email
		text-align center
		a
			display inline-block
			width 2em
			height 100%
			text-indent -9999px
			getBgImage('envelope-closed')
// Not very helpful right now
/*.birthday
	white-space nowrap
	text-indent -9999px
	getBgImage('birthday-cake', 'ucanicon')*/
