calendarIcon()
	content '\e02a'

listIcon()
	content: '\e084'

personIcon()
	content '\e0a1'

checkMarkIcon()
	content '\e0c4'

pictureIcon()
	content '\e075'

headphonesIcon()
	content '\e072'

eyeIcon()
	content '\e062'

bookIcon()
	content '\e020'

textIcon()
	content '\e047'

slrIcon()
	content '\e02b'

ganttIcon()
	content '\e0a9'

wrenchIcon()
	content '\e0d5'

newsIcon()
	content '\e025'

sheetmusicIcon()
	content '\e09d'

moviesIcon()
	content '\e0a5'

