#summary
	display inline-block

#export
	float right
	margin-right 0

.errors
	margin-bottom 2em

dangerColor = rgb(140, 20, 0)
.alert-danger
	background-color lighten(dangerColor, 50)
	border-color lighten(dangerColor, 40)
	border-radius 2px
	border-style solid
	border-width 1px
	color dangerColor
	margin-bottom 0.5em
	padding 0.5em 1em

#contacts
	padding 2em
	table
		text-align left
		width 100%
		font-size 11px

		.female td:first-child
			border-left 2px solid #cd5c5c
		.male td:first-child
			border-left 2px solid cornflowerblue

		thead
			color: fg
		tbody
			tr:nth-of-type(2n + 1)
				background-color rgba(127, 127, 127, 0.1)
		th, td
			padding 0.2em 0.5em
		a
			display inline-block
	.email
		text-align center
		a
			display inline-block
			width 1.5em
			height 100%
			text-indent -9999px
			getBgImage('envelope-closed')
			background-size auto 14px
	.address span
		vertical-align middle
	.country
		display inline-block
		width 16px
		height 14px
		text-indent -9999px
		margin-right 0.2em

	.provider
		background-image url(/images/email-provider/default.svg)
		background-repeat no-repeat




	for provider in gmail gmx t-online web yahoo
		.{provider}
			background-image url(
				/images/email-provider/desaturated/provider.png) !important
			background-repeat no-repeat

// Not very helpful right now
/*.birthday
	white-space nowrap
	text-indent -9999px
	getBgImage('birthday-cake', 'ucanicon')*/
