.spacer
	height 100%

#files
	height 100%
	font-size 0.85em
	#columns
		height 100%
		display flex
		flex-direction row

		> div
			height 100%
			flex 1 1 auto
			overflow scroll
			border-right 1px solid rgba(127, 127, 127, 0.2)
			padding 1em 0 1em 1em
			overflow-y scroll

			&:first-of-type
				flex-basis 200px

			&:last-of-type
				border-right none

		ul
			list-style none

		li
			margin-bottom 0.2em

			span
				display inline-block
				width 1.6em
				margin-right 0.4em

			svg
				vertical-align middle

			&.active
				background-color rgba(127, 127, 127, 0.2)

	pre
		max-width 50em
