@import '../../../_src/helper.styl'

width = 920px
consoleHeight = 10em
theme = 'dark'
//theme = 'light'

fontSize = 14px

if theme == 'dark'
	fg = gray(255)
	fgMuted = gray(180)

	bg = gray(0)
	bgMuted = gray(50)
	bgLightContrast = gray(80)

if theme == 'light'
	fg = gray(0)
	fgMuted = gray(50)

	bg = gray(255)
	bgMuted = gray(220)
	bgLightContrast = gray(150)


@import '../../../_src/screen.styl'

menu
	display: inline-block
	width: 2em
	height: 80%
	background-color: gray(0,0.1)
	vertical-align: top

.content
	min-height 100%
	padding 3em 1em 1em 1em

#contacts
	table
		font-size 11px
		thead
			color: fg
		tr:nth-of-type(2n)
			background-color rgba(bg, 0.1)
		td
			padding 0.2em 0.5em

#explorer
	.content
		display flex
		flex-direction row
		//align-items stretch
		padding 2em 0 0 0

	#columns
		> div
			flex 1 1 auto
			overflow scroll
			border-right 1px solid bgLightContrast
			padding 1em 0 1em 1em
			ul
				list-style none
				line-height 1.5
			li
				span
					display inline-block
					background-color lightblue
					width 1em
					height 1em
					margin-right 0.4em
		div:first-of-type
			flex-basis 200px
		div:last-of-type
			border-right none

#navBar
	z-index 1
	width 100%
	height 2em
	background-color bg
	position fixed
	top 0
	.links
		display inline-block
	.right
		position: absolute
		right: 1em
		top: 0.4em
	.links,
	.right
		a
			font-size 12px
			display inline-block
			//background-color gray(255, 0.2)
			border-radius 2px
			color fgMuted
			margin-right 0.4em
			padding 0.1em 0.4em
	.active
		text-decoration underline

#logo
	display: inline-block
	width: 2em
	text-align: center
	color: fgMuted
	font-size: 1.5em
	line-height: (fontSize * 2)
	vertical-align: middle

#console
	display none
	position fixed
	bottom 0
	width 100%
	height consoleHeight
	font-family Consolas, monospace
	textarea
		background-color bg
		color fg
		padding 0.5em
		width 100%
		height 100%
		resize none
		outline none

#tasks
	.content
		display flex
		align-items stretch
		padding 2em 0 0 0
	ul
		list-style-type none
	aside
		flex-basis 200px
		border-right 1px solid bgLightContrast
		li
			border-bottom 1px solid bgLightContrast
			padding 0.4em 0.8em
			cursor pointer
	article
		flex 1
		padding 2em
		li
			border 1px solid bgLightContrast
			background-color bgMuted
			color fgMuted
			margin-bottom 0.5em
			padding 0.5em 1em
			border-radius 4px

#events
	ul
		li
			display block
			list-style none
			background-color rgba(bg, 0.2)
			margin-bottom 2px
			div
				line-height 26px
				height 26px
				display inline-block
	.today
		box-shadow 0 0 1px 1px #cd5c5c
	.date
		min-width 80px
		width 10%
		padding 0 0.5em
		vertical-align middle
		border-right 1px solid fgMuted
	.day
		width 90%
		position relative
		vertical-align middle
	.event
		position absolute
		background-color bgLightContrast
		padding 0 0.5em
		margin-right 1px
		overflow hidden
		box-shadow 2px 0 2px -1px bg

