#tasks
	//padding-top 1em
	> div
		display flex
		align-items stretch
	ul
		list-style-type none
	aside
		flex-basis 200px
		border-right 1px solid bgQuiet
		li
			border-bottom 1px solid bgQuiet
			a
				display inline-block
				width 100%
				height 100%
				padding 0.4em 0.8em
			span
				float right
				color fgQuiet

		.active
			background-color bgQuiet
			color fg

	article
		flex 1
		padding 2em
		li
			border 1px solid bgQuiet
			background-color bgMuted
			color fgMuted
			margin-bottom 0.5em
			padding 0.5em 1em
			border-radius 4px
		> p
			color: fgQuiet
