#things
  padding 2em

  .standardView
    #thingsContainer div
      vertical-align top
      display inline-block
      background-color bgQuiet
      padding 5px
      margin 0 2px 2px 0
      width 100px
      height 125px
      line-height 100px
      text-align center
      a
        display block
        height 100%
        width 100%
        background-image url('../images/spinner.svg')
        background-repeat no-repeat
        background-position 50% 50%
        &.placeholder
          background-image none
      img
        line-height 125px
        vertical-align middle
        display inline-block
        max-width 90px
        max-height 115px
        background-color bgQuiet

  .wideView
    #thingsContainer div
      vertical-align top
      display inline-block
      background-color bgQuiet
      padding 10px
      margin 0 5px 5px 0
      width 220px
      height 220px
      span
        display: inline-block
        margin-bottom 0.5em

#thing
  padding 2em
  dl
    margin-bottom 1em
  dt
    display inline-block
    color fg
    font-weight 900
    min-width 10em
    text-align right
    margin-right 1em
    vertical-align top
  dd
    display inline-block
  img
    display inline-block
    max-height 40em
    max-width 20em

.filter
  background-color bgQuiet //transparent
  background-position 50% 50%
  background-size auto 100%
  background-repeat no-repeat
  //border 1px solid fgMuted
  padding 0.2em 0.4em
  border-radius 3px
  vertical-align top
  &:active
    background-color bgMuted

  svg path
    fill fgMuted
  span
    display block
    width 26px
    height 29px
    line-height 29px
