#settings
	padding 4em 2em
	label
		display inline-block
		width 100px
		text-align right
		margin-right 1em
		margin-bottom 1.5em
	input
		border-radius 0.2em
		color fgMuted
		padding 0.4em 1em
		border 1px solid fgMuted
		min-width 20em
